<div class="container footer">
    <div class="row">
      <div class="col-4 mt-2">
        <h4>ABOUT US </h4>
         <div> <img class="img" src="./assets/logo/peoplesGroup.PNG" alt="logo" />
         </div> 
         <div> <h5>The People's Group </h5> </div>
     <p> <fa-icon [icon]="mailIcon"></fa-icon> &nbsp; <a href=" mailto: alllivesmatteratpeoplesgroup@gmail.com:">alllivesmatteratpeoplesgroup@gmail.com</a></p>

         <!-- <p> <b>Email: </b>  <a href=" mailto: alllivesmatteratpeoplesgroup@gmail.com:">alllivesmatteratpeoplesgroup@gmail.com</a> </p> -->
    </div>
    <div class="col-4 mt-2 events ">
      <h4>RECENT EVENTS </h4>
      <div class="d-flex">
        <div class="mr-2">  <img src="./assets/events/mockEvents.jpg" alt=""></div>
        <div>A lump sum amount is defined as a</div>
      </div>
      <div class="d-flex mt-1">
            <div  class="mr-2" > <img src="./assets/events/mockEvents.jpg" alt=""></div>
            <div>A lump sum amount is defined as a</div>
      </div>
      <div class="d-flex mt-1">
        <div  class="mr-2"> <img src="./assets/events/mockEvents.jpg" alt=""></div>
            <div>A lump sum amount is defined as a</div>
      </div>
    </div>
    <div class="col-4 mt-2">
      <h4> GET CONNECTED</h4>
      <p> <fa-icon [icon]="filmIcon"></fa-icon> &nbsp;<span>The People's Group</span> </p>

      <p> <fa-icon [icon]="filmIcon"></fa-icon> &nbsp; <span>Block B, Lane 1, Aman Vihar, Sahastradhara Road,248001 Dehradun  </span></p>
      <p><fa-icon [icon]="phoneIcon"></fa-icon> &nbsp; <span></span> 9557219998</p>
     <p> <fa-icon [icon]="mailIcon"></fa-icon> &nbsp; <a href=" mailto: alllivesmatteratpeoplesgroup@gmail.com:">alllivesmatteratpeoplesgroup@gmail.com</a></p>
    </div>
  
  </div>
  <hr>
  <p class="text-center w-100 mt-2 " >&copy; Copyright © 2022 All rights reserved | Design & Developed by  <span style="color: rgb(255, 89, 0);">Rohan</span> </p>
 </div>
  