<div class="container footer">
    <div class="row">
      <div class="col-4">
        <div class="d-flex justify-content-inherit">
          <img class="img" src="../../../../assets/logo/peoplesGroup.PNG" alt="logo" />
        </div>
        <div>
          <!-- <div> , </div>
          <div> Near Rajiv Gandhi School,</div>
          <div> Belbanwa, Motihari.</div>
        </div>
        <div class=""><a class="reg-link">book@justaskservices.co.in</a></div>
        <div class="reg-link">Call Us:  +91-709 136 5555</div> -->
        <div class="mt-2">
          <a href="https://www.facebook.com/Justask-Services-110694877315035/" target="_blank"
            ><span class="mr-2">
              <img
                class="social" 
                src="./assets/images/facebook.svg"
                alt="" /></span
          ></a>
          <!-- <a href=""
            ><span class="mr-2"
              ><img
                class="social"
                src="./assets/images/instagram.svg"
                alt="" /></spanheader
          ></a> -->
          <a href="https://api.whatsapp.com/send?phone=+917091365555" target="_blank">
            <span class="mr-2">
              <img
                class="social"
                src="./assets/images/whatsapp.svg"
                alt="" /></span
          ></a>
        </div>
      </div>
      
    </div>
 
    <div class="mt-2 d-flex">&copy; Copyright © 2020, JUSTASK</div>
  </div>
  