<div id="header">
<app-header></app-header>
<br/>
<div>
<app-events-carousels> </app-events-carousels>
</div>
<div class="about mt-2"  id="aboutus">
    <div class="w-100 text-center">
        <h2 class="heading">About Us</h2>
        <p>On July 24th 2021 we took the initiative of providing our roadside fur buddies with reflective collars that can go a long way in reducing their mortality rate. The reflective collars which reflect light are visible from a long distance and thus makes drivers aware in the night that there is an animal which reduces the chance of animal road accidents.  </p>

</div>
</div>
<div>
    <app-our-goals></app-our-goals>
</div>
<div>
<app-footer></app-footer>
</div>

</div>