<div id="header">
    <app-header></app-header>
    <br>
    <div class="site-section">
        <div class="container">
            <div class="w-100 text-center">
                <h2 class="heading">About Us</h2>
<p>
    July 24th 2021 we took the initiative of providing our roadside fur buddies with reflective collars that can go a long way in reducing their mortality rate. The reflective collars which reflect light are visible from a long distance and thus makes drivers aware in the night that there is an animal which reduces the chance of animal road accidents.
</p>
Initially we had started it to protect the dogs of our city but later we realized that ours is a mountain State and after gathering information from people living in various districts of Uttrakhand we decided to take this initiative to the mountains. We were told that in the mountains there are a lot of abandoned cows and bulls that live on the roadside. October 2021 onwards we started the initiative district wise and in the mountains our main target are the abandoned cows and bulls. We have teams in various districts whom we send collars each month and they help in putting up the collars on the voiceless:)
<p></p>        
        </div>

        </div>
    </div>
    <div>
        <app-our-goals> </app-our-goals>
    </div>
    <app-footer></app-footer>
    
    </div>