<div id="header">
    <app-header></app-header>
    <br>
    <div class="site-section">
        <div class="container">
            <div class="w-100   ">
                <h2 class="heading">About Us</h2>
                <p>
                    Every year 3,442 to 4,262 stray animals get injured in road accidents and 1,200 human injuries
                    occur at the same time. </p>
                <p> On 24th July 2021 two of the cyclist buddies (Hitesh Kuniyal and Rohan Deshwal) took the
                    initiative of putting up the reflective collars on stray animals that can go a long way in reducing
                    the animal road accidents.</p>
                <p>Reflecting collars function the same way a road stud does. They work as regular collars for
                    animals but what sets them apart is the reflective strip that shines brightly when a vehicle's
                    headlight falls on it. This alerts the driver to the animal's presence in low light conditions and
                    reduces the risk of an accident.</p>
                <!-- Initially we had started it to protect the dogs of our city but later we realized that ours is a mountain State and after gathering information from people living in various districts of Uttrakhand we decided to take this initiative to the mountains. We were told that in the mountains there are a lot of abandoned cows and bulls that live on the roadside. October 2021 onwards we started the initiative district wise and in the mountains our main target are the abandoned cows and bulls. We have teams in various districts whom we send collars each month and they help in putting up the collars on the voiceless:) -->

            </div>
            <p class="text-center">Write to us at <strong> alllivesmatteratpeoplesgroup@gmail.com </strong>  or  <strong> Call or Whatsapp at 9557219998 </strong> ,If you
                wish to volunteer or donate for this initiative.</p>

        </div>
    </div>
    <div>
        <app-our-goals> </app-our-goals>
    </div>
 
    <app-footer></app-footer>

</div>