@import "../../../../../assets/styles/variable.scss";

.site-section {
    padding: 4em 0;
}
div#header {
    
    // min-height: 81px/;
    margin-top: 61px;
}
.heading{
    text-align: left;
    margin-bottom: 29px;
}