<div class="site-section ">
<div class="container">
    <div class="row">
      <div class="col-md-4">
          <div class="media block-6">
              <div class="icon">
                  <span><fa-icon  class="icon" [icon]="filmBulbIcon"></fa-icon></span>
              </div>
              <div class="media-body">
                  <h3>Our Missions</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                  <p></p>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="media block-6">
              <div class="icon">
                  <span><fa-icon class="icon" [icon]="filmIcon"></fa-icon></span>
              </div>
              <div class="media-body">
                  <h3>Make Donations </h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                  <p></p>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="media block-6">
              <div class="icon">
                  <span><fa-icon class="icon" [icon]="filmHandIcon"></fa-icon></span>
              </div>
              <div class="media-body">
                  <h3>We Need Volunteers</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                  <p></p>
              </div>
          </div>
      </div>
     
    </div>
</div>    

</div>